root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.java]
indent_size = 4

[*.{yml,yaml,md,txt,sql,ts,tsx,js,jsx,vue,json}]
indent_size = 2

[*.bat]
end_of_line = crlf

[*.cmd]
end_of_line = crlf